body {
    margin: 0;
    background: #232222;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.body {
    display: flex;
    flex-grow: 1;
}
.header {
    background-color: #302f2f;
}
.editor {
    width: 75vw;
    height: 100%;
    margin: 0;
    border-right: 4px solid #302f2f;
    padding-right: 0px;
}
.runner {
    float: right;
    width: 50%;
    padding-left: 20px;
}

.outputLine {
    font-family: monospace;
    color: white;
    padding-top: 3px;
    margin: 0;
}

.error {
    font-family: monospace;
    color: #FF5555;
}

#run {
    margin: 10px;
    padding: 10px;
    padding-top: 8px;
    width: 80px;
    font-size: 15pt;
    font-family: monospace;
    background-color: #48b457;
    border: solid;
    border-radius: 5px;
    border-color: #333333;
    border-width: 2px;
    color: rgb(34, 34, 34);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}