body {
    margin: 0;
    background: #232222;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.body {
    display: flex;
    flex-grow: 1;
}
.header {
    background-color: #302f2f;
    display: flex;
}
.editor {
    width: 75vw;
    height: 100%;
    margin: 0;
    border-right: 4px solid #302f2f;
    padding-right: 0px;
}
.runner {
    padding-top: 7px;
    float: right;
    width: 50%;
    padding-left: 20px;
}

.outputLine {
    font-family: monospace;
    color: #CCCCCC;
    line-height: 1.5;
    margin: 0;
}

.error {
    font-family: monospace;
    color: #FF5555;
}

button {
    margin: 10px;
    padding: 10px;
    padding-top: 8px;
    font-size: 15pt;
    font-family: monospace;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    cursor: pointer;
    transition: all 0.15s;
}

a {
    text-decoration: none;
    color: #CCCCCC;
    font-family: monospace;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}

footer {
    font-family: monospace;
    color: #6e6e6e;
    text-align: center;
    margin-top: 20px;
}

#run {
    width: 80px;
    color: #48b457;
    background-color: rgb(34, 34, 34);
    border-color: #66A968;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#run:hover {
    border-color: white;
    transition: all 0.15s;
    background-color: #35cf49;
    color: rgb(34, 34, 34);
    border-color: #35cf49;
}

#examplesURL {
    text-decoration: none;
    border-color: gray;
    background-color: rgb(34, 34, 34);
    transition: all 0.15s;
    color: gray;
}

#examplesURL:hover {
    background-color: #AAAAAA;
    color: rgb(34, 34, 34);
    border-color: #AAAAAA;
    transition: all 0.15s;
}

#back-to-editor {
    background-color: #AAAAAA;
}